.services h2 {
    font-family: 'Poppins';
    font-size: 2em;
    padding: 0;
    margin: 0;
}

.services h1 {
    margin-bottom: 15px;
}

.services .skills li {
    font-family: 'Poppins';
    font-size: 1.2em;
    padding-bottom: 10px;
}