.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4DB6AC;   
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow:0 -1px 5px #888888;
}

.footer a {
	color: white;
	text-decoration: none;
	font-size: 2.5em;
    padding-right: 50px;
}