 h1 {
  font-family: 'Montserrat';
  font-weight: 200;
  font-size: 4.5em;
  color: black;
  letter-spacing: 3px;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  font-family: 'Montserrat';
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 1.4em;
  color: black;
}